## this is the all-in-one, standalone Discourse Docker container template
##
## After making changes to this file, you MUST rebuild
## /var/discourse/launcher rebuild app

templates:
  - "templates/postgres.template.yml"
  - "templates/redis.template.yml"
  - "templates/web.template.yml"
  - "templates/web.ratelimited.template.yml"

## which TCP/IP ports should this container expose?
## If you want Discourse to share a port with another webserver like Apache or nginx,
## see https://meta.discourse.org/t/17247 for details
expose:
  - "{{ exposed_discourse_port }}:80"


params:
  #db_default_text_search_config: "pg_catalog.english"
  db_default_text_search_config: "pg_catalog.spanish"

  ## Set db_shared_buffers to a max of 25% of the total memory.
  ## will be set automatically by bootstrap based on detected RAM, or you can override
  db_shared_buffers: "{{ db_shared_buffers.stdout }}MB"

  ## can improve sorting performance, but adds memory usage per-connection
  #db_work_mem: "40MB"

  ## Which Git revision should this container use? (default: tests-passed)
  #version: tests-passed

env:
  LANG: en_GB.UTF-8
  # DISCOURSE_DEFAULT_LOCALE: en

  ## How many concurrent web requests are supported? Depends on memory and CPU cores.
  ## will be set automatically by bootstrap based on detected CPUs, or you can override
  UNICORN_WORKERS: {{ unicorn_workers.stdout }}

  ## TODO: The domain name this Discourse instance will respond to
  DISCOURSE_HOSTNAME: '{{ hostname }}'

  ## Uncomment if you want the container to be started with the same
  ## hostname (-h option) as specified above (default "$hostname-$config")
  #DOCKER_USE_HOSTNAME: true

  ## TODO: List of comma delimited emails that will be made admin and developer
  ## on initial signup example 'user1@example.com,user2@example.com'
  DISCOURSE_DEVELOPER_EMAILS: '{{ discourse_developer_emails }}'

  ## The SMTP mail server used to validate new accounts and send notifications

  DISCOURSE_SMTP_ADDRESS: '{{ mail_server }}'       # required
  DISCOURSE_SMTP_PORT: '{{ smtp_port }}'            # (optional, default 587)
  DISCOURSE_SMTP_USER_NAME: '{{ mail_username }}'
  DISCOURSE_SMTP_PASSWORD: '{{ mail_password }}'    # WARNING the char '#' in pw can cause problems!
  DISCOURSE_SMTP_ENABLE_START_TLS: {{ enable_start_tls }}

  ## The CDN address for this Discourse instance (configured to pull)
  ## see https://meta.discourse.org/t/14857 for details
  #DISCOURSE_CDN_URL: //discourse-cdn.example.com

## The Docker container is stateless; all data is stored in /shared
volumes:
  - volume:
      host: /var/discourse/shared
      guest: /shared
  - volume:
      host: /var/discourse/var-log
      guest: /var/log

# This doesn't work :(
extra_hosts:
  - "mail.docker0:172.17.0.1"
  - "ldap.docker0:172.17.0.1"

## Plugins go here
## see https://meta.discourse.org/t/19157 for details
hooks:
  after_code:
    - exec:
        cd: $home/plugins
        cmd:
          #- git clone https://github.com/discourse/docker_manager.git
          {% for plugin_repo in plugins %}
          - git clone {{ plugin_repo }}
          {% endfor %}

## Any custom commands to run after building
run:
  - exec: echo "Beginning of custom commands"
  ## If you want to set the 'From' email address for your first registration, uncomment and change:
  ## After getting the first signup email, re-comment the line. It only needs to run once.
  #- exec: rails r "SiteSetting.notification_email='info@unconfigured.discourse.org'"
  - exec: echo "End of custom commands"
